PUBLIC_GA4_ID=G-XXXXXXXXXX
PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/alankyeong
PUBLIC_STRIPE_URL=https://buy.stripe.com/cNi9AS7lpf7fa188VqeAg00
PUBLIC_AI_SITE_URL=https://ai.alankyeong.com/
PUBLIC_SITE_ENV=staging

